:root {
    --primary-color: #051521;
    --secondary-color: #001f33;
    --text-color: #199892;
    --header-color: #deba93;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}

h2 {
    font-size: 48px;
}
p {
    color: #fff;
}
a {
    position: relative;
  }
/* Header */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
header a {
    text-decoration: none;
    color: var(--text-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

    

section {
    padding: 60px;
}
/* Intro */
.intro {
    display: flex;
    text-align: center;    
    background-color: var(--primary-color);
    justify-content: space-around;
    align-items: center;
}

.intro img {
    width: 300px;
}
.flex-col {
    display: flex;
    flex-direction: column;
  
}
.col {
    padding: 30px;
    height: 100%;
}

.col ul li {
    font-size: 20px;
    padding-bottom: 10px;
    list-style-type: none;
}
/* Project */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.project-container {
    position: relative;
    text-align: center;
    opacity: .5;
    padding: 8px;
    width: 50%;
}
.project-container:first-child {
    width: 100%;
}
.project-container img {
    width: 100%;
}

.project-container:hover {
    bottom: 8px;
    opacity: 1;
}
.primary-text {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 15px;
    font-size: 32px;
    background-color: var(--text-color);

}
.secondary-text {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 15px;
    font-size: 32px;
    background-color: var(--text-color);
}
/* Contact/footer */
footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    
}

footer a {
    color:var(--text-color)
}

@media all and (max-width: 1400px){

}
/* Media Tablets */
@media all and (max-width: 768px){
    header h1 {
        width: 100%;
        text-align: center;

    }
    header nav {
        width: 100%;
    }

}
/* Utilities */
.primary-title {
    text-align: center;
    color: var(--header-color);
    font-size: 64px;
    margin: 0 auto 35px auto;
    width: 50%; 
    border-bottom: 5px solid var(--header-color);
}
.secondary-title {
    text-align: center;
    color: var(--header-color);
    font-size: 48px;
    margin: 0 auto 35px auto;
    width: 50%;  
    border-bottom: 2px solid var(--header-color); 
}
.underline-effect {
    text-decoration: none;
padding: 10px 15px;
font-size: lighter;
font-size: 36px;
text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.underline-effect::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--header-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.underline-effect:hover::before {
transform-origin: left;
transform: scaleX(1);
}

/* Media Phones */
@media all and (max-width: 575px){
    
    .hero-about h2, .hero-profile h2{
        margin: 0 10px 20px 10px;
    }
}
